In [6]:
import pandas as pd

train = pd.read_csv("C:/Users/JDDS/OneDrive/문서/github/AI_study/04_ML/titanic_data/train.csv")
test = pd.read_csv("C:/Users/JDDS/OneDrive/문서/github/AI_study/04_ML/titanic_data/test.csv")
sub = pd.read_csv("C:/Users/JDDS/OneDrive/문서/github/AI_study/04_ML/titanic_data/gender_submission.csv")

### 1-1 데이터 셋 불러오기
- train.csv : 학습을 위한 데이터 셋
- test.csv : 테스트를 위한 데이터 셋
- gender_submission.csv : 예측 내용 제출용 데이터 셋

### 1-2 데이터 탐색하기
- 데이터의 행과 열( shape )
- 컬럼명 확인
- 각 컬럼의 자료형
- 컬럼 결측치의 확인
- 앞뒤 데이터 확인
- 각 열 요약값 확인

In [7]:
print(train.shape)
print(test.shape)
print(sub.shape)

(891, 12)
(418, 11)
(418, 2)

In [8]:
print(train.columns)
print(test.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [11]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [13]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

### 1-3 모델 만들고 제출
- 학습용 데이터 셋에서 학습할 컬럼 선택한다.
- 모델 선택 후, 학습
  * 모델(knn)을 생성 후, 학습(fit)
- 그리고 예측(predict)을 수행 후, 제출한다.

In [15]:
from sklearn.neighbors import KNeighborsClassifier

In [16]:
# 데이터 준비 - 빠른 모델 생성을 위해 데이터 전처리가 불필요한 피처(변수)만 선택
# 'Survived'를 제외 (예측해야할 피처) , 
# 'Embarked', 'Sex'',Name', 'Ticket' => 문자포함
#  'Age' : 결측치가 있음
sel = ['PassengerId', 'Pclass', 'SibSp', 'Parch' ]

# 학습에 사용될 데이터 준비 X_train, y_train
X_train = train[sel]
y_train = train['Survived']

# 학습 후, 테스트에 사용될 피처 선택
X_test = test[sel]

X_train.shape, y_train.shape, X_test.shape

((891, 4), (891,), (418, 4))

In [17]:
# 모델 선택
model = KNeighborsClassifier()

# 학습
model.fit(X_train, y_train)

# 예측
pred = model.predict(X_test)
pred[:15]   # 예측한 값을 15개 정도 확인

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [18]:
# 제출
sub.columns

Index(['PassengerId', 'Survived'], dtype='object')

In [19]:
sub['Survived'] = pred
sub.to_csv("first_sub.csv", index=False)

##  제출 절차
1. Titanic 대회 이동
2. 'Leaderboard' 선택
  * https://www.kaggle.com/competitions/titanic/leaderboard
3. 'Submit Predictions' 선택
4. 제출용 파일을 Upload을 수행.
5. 간단한 설명이 필요하면 이를 쓰고, 'Make Submission'을 선택하여 제출 수행.
6. 제출이 정상적으로 이루어지면 나의 현재 스코어와 Rank의 확인이 가능하다.